@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

dropdown-menu {
    
    width: max-content;
    height: max-content;
    background-color: red;
    z-index: 99;
    /* float: left; */
    
}

.btns-pitch {
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* grid-template-columns: auto auto; */
}

.btn-pitch {
    float: left;
    width: max-content;
    justify-content: center;
    height: max-content;
    color: var(--color-3);
    background: var(--color-1);
    font-size: 0.5rem;
    padding: 0.2rem;
    margin: 0.1rem;
    cursor: pointer;
    border: 3px solid var(--color-3);
    transition: var(--transition);
    animation: fadeIn 1s;
}

.btn-pitch:hover {
    background: var(--color-2);
    color: var(--color-1);
    border-color: transparent;
    border: 3px solid var(--color-2);
}

.btn-pitch-active {
    background: var(--color-2);
    color: var(--color-1);
    border-color: transparent;
    border: 3px solid var(--color-2);
}