@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0.4; }
}

.player {
    display: flex;
    flex-direction: row;
}

.player > .btn {
    height: 37.2px;
    margin: 0.2rem;
    padding: 0.3rem 0.2rem;
}